  body

    {margin:0px;       

    padding:0px;

}

  .icon-bar{
      width: 100%; /* Set a specific width */
      list-style: none;
      margin:0px;
     background-color: #555; /* Dark-grey background */
     float:right;
     border:1px;
     position:fixed;
     margin-bottom:30px;


    }
    .icon-bar a {
  display:inline-block;  /* Make the links appear below each other instead of side-by-side */
  text-align: right; /* Center-align text */
  padding: 10px; /* Add some padding */
  color: white; /* White text color */
}
.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

  ul{
    list-style:none;
    margin:0px;
    text-align:right;
          color:#f0f;
    }
  ul li{
    display:inline-block;
    margin-right:25px; 
  }
 .icon-bar  .home{
    background:green;
    float:left;
    padding:5px;
    text-decoration:underline;
    color:#f0f;

  }
  /* Style the links inside the sidenav */
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  position:fixed;
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#about {
  top: 60px;
  background-color: #4CAF50;
  position:fixed;
}

#blog {
  top: 120px;
  background-color: #2196F3; /* Blue */
    position:fixed;

}

#projects {
  top: 180px;
  background-color: #f44336; /* Red */
    position:fixed;

}

#contact {
  top: 240px;
  background-color: #555 ;/* Light Black */
    position:fixed;

}